.c-separator {
  display: block;
  width: 120px;
  height: 7px;
  border-radius: 7px;
  margin: 1.5em auto 0;
  background-color: var(--wp--preset--color--accent-1);
}

.c-title {
  font-size: var(--wp--preset--font-size--xxlarge);
  font-weight: 600;
  text-align: center;

  &:after {
    content: '';
    display: block;
    width: 120px;
    height: 7px;
    border-radius: 7px;
    margin: 1rem auto 0;
    background-color: var(--wp--preset--color--accent-1);
  }
}

.c-navigation-button{
  background-color: var(--wp--preset--color--accent-2) !important;
  border-radius: 99px;
  color: #FFF;

  > a {
    padding: .7rem 1.1rem;
  }
}