.entry-content {
  min-height: 50vh;
}

/* Page List */
.wp-block-page-list {
  list-style: none;
  padding-inline-start: 0;
}
.wp-block-pages-list__item__link {
  text-decoration: none;
}


/* Navigation */
.wp-block-navigation-item__content {
  position: relative;
  padding: .3rem;
  font-weight: 600;
  font-size: var(--wp--preset--font-size--small);
}
.wp-block-navigation__responsive-container-content .current-menu-item:not(.c-navigation-button)::after {
  content: '';
  position: absolute;
  top: 100%;
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--wp--preset--color--accent-1);
}