<!-- wp:template-part {"slug":"header","theme":"rizomacoop"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|60"},"blockGap":"var:preset|spacing|70"}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:var(--wp--preset--spacing--60)"><!-- wp:template-part {"slug":"page-title","theme":"rizomacoop"} /-->

	<!-- wp:post-content {"align":"full","style":{"spacing":{"blockGap":"var:preset|spacing|60"}},"fontSize":"medium","layout":{"type":"constrained"}} /--></main>
	<!-- /wp:group -->

	<!-- wp:template-part {"slug":"footer","theme":"rizomacoop"} /-->